<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{ .Site.BaseURL }}"
    },
    "image": "{{.Site.BaseURL}}/resources/logo.jpg",
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "en-US",
    "author": {
        "@type": "Person",
        "name" : "Shubham Pandey"
    },
    "publisher": {
        "@type": "Organization",
        "name": "Shubham Pandey",
        "logo": {
            "@type": "ImageObject",
            "name": "logo",
            "width": "60",
            "height": "600",
            "url": "{{.Site.BaseURL}}/resources/logo.jpg"
        }
    },
    "accountablePerson" : "Shubham Pandey",
    "copyrightHolder" : "Shubham Pandey",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date }}",
    "dateModified" : "{{ .Date }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"Blog" ]
}
</script>

<meta name="Description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}Shubham Pandey Blog{{end}}{{ end }}" />
<link rel="manifest" href="/manifest.json">
<link rel="canonical" href="{{ .Permalink | absURL }}">
<meta name="theme-color" content="#1e73be" />

<!-- Apple shit -->
<link rel="apple-touch-icon" href="resources/logo.jpg" />
<link rel="apple-touch-icon" sizes="72x72" href="resources/logo.jpg" />
<link rel="apple-touch-icon" sizes="114x114" href="resources/logo.jpg" />
<link rel="apple-touch-icon" sizes="144x144" href="resources/logo.jpg" /> 
<!-- Apple shit ends -->

<script type="43056affa04feb8f1f1a1c78-text/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-90186372-1', 'auto');
	
	ga('send', 'pageview');
}
</script>